{{>layout/header}}
<h1>Dongeun Blog</h1>
<div class="post-detail">
The Selected Post:
        <div class="post">
            <p class="each-post">
                Id: {{posts.id}}
                Title: {{posts.title}}<br/>
                Post: {{posts.post}}<br/>
                Created: {{posts.createdAt}}<br/>
                Last modified: {{posts.modifiedAt}}<br/>
            </p>
        </div>
</div>
<div>
    <form class="form-save">
        <div>
            <label for="save-title">Title:</label>
            <input id="save-title" type="text" placeholder={{posts.title}} />
        </div>
        <div>
            <label for="save-post">Post:</label>
            <textarea id="save-post" placeholder={{posts.post}}></textarea>
        </div>
        <div class="btn-save-group">
            <a id="btn-save-cancel" href="/">Cancel</a>
            <button id="btn-edit">Submit</button>
        </div>
    </form>
</div>
{{>layout/footer}}
